@import '../../.cache/wal/colors-waybar.css';

* {
    border: none;
    font-family: Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @color15;
}

window#waybar>box>box {
    background: alpha(@background, 0.8);
    border-style: solid;
    border-color: @color10;
}

.modules-left {
    border-radius: 0px 0px 10px 0px;
    border-width: 0px 2px 2px 0px;
    padding: 0px 0px 0px 0px;
}
.modules-center {
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 2px 2px 2px;
    padding: 0px 10px ;
    margin: 0px 80px;
}
.modules-right {
    border-radius: 0px 0px 0px 10px;
    border-width: 0px 0px 2px 2px;
    padding: 0px 0px 0px 0px;
}

widget>*,#connections,#audio {
    padding: 0px 10px 0px 10px;
    border-style: solid;
    /* border-color: shade(@color8, 0.5); */
    border-color: @color8;
    border-width: 0px 0px 0px 1px;
}
window#waybar>box>box>*:first-child>* {
    border: 0;
}

#connections>widget>*,#audio>widget>* {
    padding: 0 0.25em;
    border-width: 0;
}
#custom-audio_idle_inhibitor {
    margin-right: 0.25em;
}

#tray>widget>* {
    padding: 0;
    border-width: 0;
}

#custom-nwg_menu,#idle_inhibitor,#custom-audio_idle_inhibitor,#network,#bluetooth,#window.empty #window {
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

button {
    background: transparent;
    border-radius: 10px;
    margin: 1px;
}
button:hover {
    background-color: shade(@color8, 0.5);
    border-top: 1px solid @color10;
}

button>box {
    padding-left: 2px;
}

tooltip {
  background: @background;
  border: 1px solid @color8;
  /* border-radius: 5px; */
}
tooltip label {
  color: @color15;
}


#workspaces button {
    padding: 1px 2px 1px 0px;
    margin: 3px;
    border-radius: 100%;
    color: shade(@color9, 1.25);
}

#workspaces button.active {
    color: @color15;
    background-color: shade(@color8, 0.5);
    border-bottom: 1px solid @color7;
}
#workspaces button.empty {
    color: @color7;
}
/* #workspaces button.persistent { */
/*     color: @color7; */
/* } */
#workspaces button.special {
    color: @color14;
}
#workspaces button.visible {
    color: @color10;
}

#workspaces button:hover {
    color: shade(@color10, 1.25);
}

#taskbar {
    padding: 0;
}
#taskbar.empty {
    border: 0;
}
#taskbar button.active {
    border-top: 1px solid @color1;
    background-color: shade(@color8, 0.5);
}

#idle_inhibitor.activated {
    color: shade(@color9, 1.25);
}
#idle_inhibitor.deactivated {
    color: @color7;
}

#custom-nwg_menu {
    color: @color13;
}

#pulseaudio.muted {
    color: @color7;
}
#pulseaudio.bluetooth {
    color: @color10;
}

#bluetooth.off {
    color: @color7;
}
#bluetooth.connected {
    color: @color10;
}
#bluetooth.discoverable {
    color: @color11;
}
#bluetooth.discovering {
    color: @color13;
}
#bluetooth.pairable {
    color: @color9;
}

#network.disconnected {
    color: @color7;
}
#network.linked {
    color: @color12;
}
/* #network.ethernet { */
/*     color: @color9; */
/* } */
#network.wifi {
    color: @color10;
}
